[Desktop Entry]
Type=Service
Name=Aegis
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;inode/directory;
X-KDE-Submenu=Aegis
X-KDE-Submenu[it]=Aegis
X-KDE-Priority=TopLevel
Icon=document-encrypt
Actions=Encrypt;EncryptPhoto;EncryptShare;Decrypt;Info;

[Desktop Action Encrypt]
Name=Encrypt (for me)
Name[it]=Cifra (per me)
Icon=document-encrypt
Exec=aegis --gui encrypt %f

[Desktop Action EncryptPhoto]
Name=Encrypt with a photo
Name[it]=Cifra con una foto
Icon=document-encrypt
Exec=aegis --gui encrypt --photo %f

[Desktop Action EncryptShare]
Name=Encrypt to share
Name[it]=Cifra per inviare
Icon=document-encrypt
Exec=aegis --gui encrypt --ask %f

[Desktop Action Decrypt]
Name=Decrypt
Name[it]=Decifra
Icon=document-decrypt
Exec=aegis --gui decrypt %f

[Desktop Action Info]
Name=Show Aegis header info
Name[it]=Mostra info header Aegis
Icon=dialog-information
Exec=aegis --gui info %f
